aiogram==3.15.0
groq==0.9.0
httpx==0.27.2
qrcode==8.0
flask==3.0.3
gunicorn==22.0.0
python-dotenv==1.0.1
tavily-python
apscheduler==3.10.4 # Eslatmalar uchun
Pillow==10.3.0 # Rasm montaj uchun
